.input-button-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.44);
  caret-color: transparent;
  -webkit-user-select: none;
}

.input {
  height: 90%;
  width: 95%;
  caret-color: white;
}

.button {
  width: 80%;
  height: 68%;
}

.button:disabled{

}
