<div class="play-bar-container" *ngIf="currentSong">
  <div class="align" *ngIf="state">
    <img class="image-resize margin-center image" [src]="state.miniatureUrl"/>
  </div>
  <div class="song-description-container">
    <div></div>
    <div class="align-bottom name">{{currentSong.name}}</div>
    <div class="authors">{{authors}}</div>
    <div></div>
  </div>
  <div *ngIf="state">
    <app-equalizer [alignHorizontally]="false" (mouseover)="refreshRateEqualizer = 0.15;nbOfBars = 12;" (mouseleave)="refreshRateEqualizer = 0.2;nbOfBars = 10" color="rgb(220, 221, 222)" [numberOfBars]="nbOfBars" [frequency]="refreshRateEqualizer" [regression]="7" [width]="50" [maxRegressionAnimation]="15" [pauseAnimation]="!state.playing" ></app-equalizer>
  </div>
  <div class="play-configuration-container">
    <div class="align skip-backward">
      <svg xmlns="http://www.w3.org/2000/svg" class="margin-center bi bi-skip-backward-fill" viewBox="0 0 16 16">
        <path
          d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5z"/>
      </svg>
    </div>
    <div (click)="playOrPause()" class="play align margin-center">
      <svg *ngIf="state && !state.playing" xmlns="http://www.w3.org/2000/svg"
           class="margin-center bi bi-play-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
      </svg>
      <svg *ngIf="state && state.playing" xmlns="http://www.w3.org/2000/svg"
           class="margin-center bi bi-play-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
      </svg>
    </div>
    <div class="align skip-forward">
      <svg xmlns="http://www.w3.org/2000/svg" class="margin-center bi bi-skip-forward-fill" viewBox="0 0 16 16">
        <path
          d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5z"/>
      </svg>
    </div>
    <div class="play-progress-bar" *ngIf="state">
      <app-progress-bar [progressTime]="state.currentTime" (progressTimeChange)="seekTo($event)" colorOnHover="cyan"
                        [end]="state.duration"></app-progress-bar>
    </div>
  </div>
  <div class="play-manager-container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="align" *ngIf="state">
      <svg *ngIf="(!!state.volume)" (click)="mute()" xmlns="http://www.w3.org/2000/svg"
           class="bi bi-skip-backward-fill margin-center" style="margin-right: 1px" width="20" height="20"
           viewBox="0 0 16 16">
        <path
          d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
        <path
          d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
        <path
          d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
      </svg>
      <svg *ngIf="!(!!state.volume)" xmlns="http://www.w3.org/2000/svg" style="margin-right: 1px" width="20" height="20"
           (click)="unmute()" class="bi bi-skip-backward-fill margin-center" viewBox="0 0 16 16">
        <path
          d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zm7.137 2.096a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z"/>
      </svg>
    </div>
    <div *ngIf="state">
      <app-progress-bar colorOnHover="cyan" [displayLabel]="false" [end]="100"
                        (progressTimeChange)="changeVolume($event)"
                        [progressTime]="state.volume * 100"></app-progress-bar>
    </div>
  </div>
</div>
